
config global
	option global_server 'nil'

config servers
	option auth_enable '0'
	option server '127.0.0.1'
	option server_port '8388'
	option local_port '1080'
	option password 'barfoo!'
	option timeout '60'
	option encrypt_method 'rc4-md5'

config port_forward
	option enable '0'
	option local_port '5300'
	option destination '8.8.4.4:53'

config access_control
	option wan_bp_list '/dev/null'
	option lan_ifaces 'br-lan'
